# Docker Container
CONTAINER_DB=lobi
CONTAINER_USER=lobi_user
CONTAINER_PASSWORD=lobi_pass
CONTAINER_PORT=5432

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=lobi
DATABASE_USER=lobi_user
DATABASE_PASSWORD=lobi_pass
