{$API_DOMAIN} {
  tls {$CERT_CRT_PATH} {$CERT_KEY_PATH}

  request_body {
    max_size 1mb
  }

  encode zstd gzip

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Frame-Options "DENY"
    X-Content-Type-Options "nosniff"
    X-XSS-Protection "1; mode=block"
    Referrer-Policy "strict-origin-when-cross-origin"
    -Server
  }

  reverse_proxy api:3000
}
